 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Jae and welcome to my personal website! This is the central hub for my creative pursuits. I appreciate the beauty and practicality of good design in all things; this is the unifying theme of my work. As a mathematician, I enjoy the satisfaction of an elegant proof or creative solution; I appreciate beautiful visuals which capture intricate ideas.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have an unyielding curiousity which leads me to new and interesting places every day. As an educator, I hope to share that feeling with each new generation. I love games and believe they can be an invaluable tool for learning. I would like to explore how we can teach challenging topics in truly exciting ways. More content will be coming soon!</p>
                </div>
<!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
-->
            </div>
        </div>
    </section>
